<div class="container">
  <div class="title-container">
    <h1 class="main-title">Confirmación de Pago</h1>
  </div>

  <div class="payment-method-container">
    <h2 class="payment-method-title">Medio de Pago:</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Eo_circle_green_checkmark.svg/2048px-Eo_circle_green_checkmark.svg.png" alt="Descripción de la imagen" class="imagen-check">
    <div class="payment-container">
      <div class="subtotal-container">
        <div class="subtotal-box">
          <span class="payment-amount-label">Subtotal:</span>
          <span class="payment-amount-value">$1200</span>
        </div>
        <div class="total-box">
          <span class="payment-amount-label">Total:</span>
          <span class="payment-amount-value">$1200</span>
        </div>
      </div>

      <div class="payment-method-button">
        <button type="submit" [routerLink]="['/estates-list']">Finalizar</button>
      </div>
    </div>
  </div>
</div>
