<div class="form-container">
  <form (ngSubmit)="submitForm(registerForm.value)" #registerForm="ngForm">
    <label class="label-title"><strong>Registrate</strong></label>
    <mat-form-field class="form--field">
      <label>Nombre</label>
      <input matInput placeholder="" name="nombre" [(ngModel)]="userData.name" required>
    </mat-form-field>
    <mat-form-field class="form--field">
      <label>Correo Electrónico</label>
      <input matInput placeholder="" name="email" [(ngModel)]="userData.email" required email>
    </mat-form-field>
    <mat-form-field class="form--field">
      <label>Contraseña</label>
      <input matInput type="password" placeholder="" name="contrasena" [(ngModel)]="userData.password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">Crear Cuenta</button>
  </form>
</div>
